@charset "UTF-8";
:root {
  --p-color: rgba(162,0,29,1);
  /*Cor principal*/
  --s-color: rgba(255,255,255,1);
  /*Cor secundária*/
  --t-color: rgba(216,0,39,1);
  /*Cor terciária*/
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  /* Div de conteúdo genérica */
  display: block;
  width: 100%;
  height: 100%;
}

header {
  /* Cabeçario */
  height: 90px;
  background-color: var(--s-color);
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
}

header .container .symbol {
  /* Teste */
  position: absolute;
  left: 10%;
  height: 90px;
  width: 25px;
  border-right: 100vw solid var(--p-color);
}

header .container .symbol:after {
  content: "";
  height: 200px;
  margin-left: -50px;
  margin-top: -100px;
  width: 200px;
  background-color: var(--s-color);
  display: inline-block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .container .logo {
  /* logo */
  z-index: 1;
  margin-left: 50px;
  height: 70px;
  width: 70px;
  background-image: url("../img/logo.png");
  background-size: contain;
}

header .container .nav {
  /* menu de navegação */
  z-index: 1;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

header .container .nav .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 2em;
  cursor: pointer;
}

header .container .nav .menu-item a {
  color: var(--s-color);
  font-size: 1.5em;
  text-decoration: none;
}

header .container .nav .menu-item:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: var(--s-color);
}

header .container .nav .menu-item:hover a {
  color: var(--p-color);
}

header .container .nav .consultar-buttom {
  background-color: var(--s-color);
  color: var(--p-color);
}

header .container .nav .consultar-buttom a {
  color: var(--p-color);
}

.slide {
  height: 600px;
  background-color: var(--p-color);
  background-image: url(../image/clinico.jpg);
  background-position: right top;
  background-attachment: fixed;
}

#sobre {
  height: 2000px;
  text-align: center;
}

#sobre .introducao {
  width: 100%;
  margin-bottom: 50px;
}

#sobre .introducao h2 {
  font-size: 3em;
  margin: 50px;
  color: var(--p-color);
}

#sobre .introducao p {
  font-size: 1.5em;
  margin-bottom: 10px;
}

#sobre .colunas {
  width: 90%;
  display: inline-block;
}

#sobre .colunas .imagem {
  width: 50%;
  height: 500px;
  background-image: url(../image/clinica.jpg);
  background-position: center;
}

#sobre .colunas .texto {
  width: 50%;
  height: 500px;
  background-color: var(--s-color);
}

#sobre .colunas .texto p {
  font-size: 1.4em;
  padding: 0 20px;
  text-align: justify;
  color: var(--p-color);
}

.esquerda {
  float: left;
}

.direita {
  float: right;
}
/*# sourceMappingURL=style.css.map */