@charset "UTF-8";
:root {
  --p-color: rgb(134, 2, 27);
  /*Cor principal*/
  --s-color: rgba(255,255,255,1);
  /*Cor secundária*/
  --t-color: rgba(216,0,39,1);
  /*Cor terciária*/
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  /* Div de conteúdo genérica */
  display: block;
  width: 100%;
  height: 100%;
}

header {
  /* Cabeçario */
  height: 90px;
  background-color: var(--s-color);
  position: relative;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
}

header .container .symbol {
  /* Teste */
  position: absolute;
  left: 10%;
  height: 90px;
  width: 25px;
  border-right: 100vw solid var(--p-color);
}

header .container .symbol:after {
  content: "";
  height: 200px;
  margin-left: -50px;
  margin-top: -100px;
  width: 200px;
  background-color: var(--s-color);
  display: inline-block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .container .logo {
  /* logo */
  z-index: 1;
  margin-left: 50px;
  height: 70px;
  width: 70px;
  background-image: url("../img/logo.png");
  background-size: contain;
}

header .container .nav {
  /* menu de navegação */
  z-index: 1;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

header .container .nav .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 2em;
  cursor: pointer;
}

header .container .nav .menu-item a {
  color: var(--s-color);
  font-size: 1.5em;
  text-decoration: none;
}

header .container .nav .menu-item:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: var(--s-color);
}

header .container .nav .menu-item:hover a {
  color: var(--p-color);
}

header .container .nav .consultar-buttom {
  background-color: var(--s-color);
  color: var(--p-color);
}

header .container .nav .consultar-buttom a {
  color: var(--p-color);
}

#nav_toggle {
  display: none;
}

body::-webkit-scrollbar{
  width: 12px;
}

body::-webkit-scrollbar-track{
  background: #d80027
}

body::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #d80027;
}

.slide {
  height: 600px;
  background-color: var(--p-color);
  background-image: url(../image/clinico.jpg);
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

.select p {
  font-size: 1em;
}

#sobre {
  height: 2000px;
  text-align: center;
}

#sobre .introducao {
  background-color: var(--s-color);
  border-radius: 20px;
  width: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.12);
}

#sobre .introducao h2 {
  padding-top: 30px;
  font-size: 3em;
  margin: 50px;
  color: var(--p-color);
}

#sobre .introducao p {
  font-size: 1.5em;
  margin-bottom: 10px;
  padding: 0 20px;
  color: black;
}

#sobre .introducao p:last-of-type {
  padding-bottom: 30px;
}

#sobre .colunas {
  margin-top: -30px;
  width: 90%;
  display: inline-block;
}

#sobre .colunas .imagem {
  width: 45%;
  height: 500px;
  background-image: url(../image/clinica.jpg);
  background-position: center;
  -webkit-box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.12);
}

#sobre .colunas .texto {
  width: 50%;
  height: 500px;
  background-color: var(--s-color);
}

#sobre .colunas .texto p {
  font-size: 1.4em;
  padding: 10px 20px;
  text-align: justify;
  color: var(--p-color);
}

#sobre .colunas .texto p::first-letter {
  font-size: 1.5em;
  margin-left: 45px;
  margin-right: 1px;
}

#sobre .colunas .texto p::before {
  z-index: 2;
  content: '';
  position: absolute;
  background-image: url(../image/heart.png);
  background-position: center center;
  background-size: contain;
  height: 35px;
  width: 35px;
}

.loginpop {
  opacity: 0;
  display: inline-block;
  z-index: 10000;
  position: fixed;
  left: 50%;
  top: 50%;
  pointer-events: none;
  -webkit-transform: translate(-50%, -60vw);
          transform: translate(-50%, -60vw);
  border-radius: 20px;
  height: 400px;
  width: 500px;
  overflow: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.loginpop h2 {
  color: var(--p-color);
  margin: 20px 0;
  opacity: 0;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  font-size: 2em;
}

.loginpop form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  width: 80%;
}

.loginpop label {
  left: 0;
  color: var(--s-color);
}

.loginpop input {
  -webkit-box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.12);
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loginpop input:last-of-type {
  background-color: var(--s-color);
  color: var(--p-color);
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loginpop input:last-of-type:hover {
  background-color: #f0f0f0;
}

.loginpop #cadastrar {
  width: 80%;
  position: absolute;
  height: 100%;
  float: left;
  background-color: var(--p-color);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
}

.loginpop #cadastrar h2 {
  color: var(--s-color);
}

.loginpop #cadastrar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.loginpop #cadastrar.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
          
}

.loginpop #cadastrar.active h2 {
  opacity: 1;
}

.loginpop #cadastrar.active form {
  opacity: 1;
}

.loginpop #entrar {
  width: 80%;
  height: 100%;
  float: right;
  background-color: var(--s-color);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: translateX(73%);
          transform: translateX(73%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginpop #entrar h2 {
  color: var(--p-color);
}

.loginpop #entrar label {
  color: var(--p-color);
}

.loginpop #entrar.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.loginpop #entrar.active h2 {
  opacity: 1;
}

.loginpop #entrar.active form {
  opacity: 1;
}

.loginpop #slider {
  z-index: inherit;
  position: fixed;
  margin-left: 6%;
  width: 90%;
  height: 30px;
  border-radius: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  bottom: 20px;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.loginpop #slider .select {
  position: absolute;
  margin: 0 2px;
  margin-top: 1px;
  border-radius: 25px;
  height: 28px;
  width: 75px;
  background-color: var(--p-color);
  color: var(--s-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  right: 0;
}

.loginpop #slider.active {
  background-color: var(--p-color);
  width: 63px;
}

.loginpop #slider.active .select {
  background-color: var(--s-color);
  color: var(--p-color);
}

.loginpop.active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: auto;
  display: normal;
}

#overlay {
  z-index: 10;
  position: fixed;
  opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000080;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.esquerda {
  float: left;
}

.direita {
  float: right;
}
/*# sourceMappingURL=style.css.map */

.cont{
  background:#d80027;
}

.contat{
  display: flex;
  justify-content: right;
  margin-right: 250px;
}

/*ConfiguracaoECoresDoNomeNaAreaNome*/
.inpcontN{
  justify-content: center;
  align-items: center;
  margin: 200px;
  height: 35px;
  width: 440px;
  
}
  p{
    font-size: 24px;
    color: #f8f8f8; 
  }

#inpN{
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  margin: 0 5px;
}

#inpN2{
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}



@media (max-width: 1100px) {


  header .container .nav {
    
    position: fixed;
    right: 0;
    margin:0;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    margin-top: 140px;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    
    border-radius: 30px;
    gap:5px;
    transition: 1s ease-in-out;

  }

  header .container .nav.active{
    
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    z-index: 1000;
    
  }

  header .container .nav .menu-item {
    background-color: var(--p-color);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: 2px solid var(--p-color);
    
  }


  #nav_toggle {
    display: block;
    z-index: 0;
    font-size: 2em;
    margin-right: 15px;
    color: var(--s-color);
    cursor: pointer;
  }

  #nav_toggle.off {
    display: none;

  }

  
  

  header .container .nav .consultar-buttom {
    background-color: var(--s-color);
  }

  header .container  {

    overflow: visible;

  }

  header .container .symbol:after {
     display: none;
  }

  header .container .symbol {
    left: auto;
    right: 0;
    border: 0;
    width: 70%;
    background-color: var(--p-color);
  }



  #sobre .colunas .imagem {
    width: 100%;
    background-size: cover;
  }

  #sobre .colunas .texto {
    margin-top: 50px;
    width: 100%;
  }

  .esquerda {
    display: block;
    float: none;
  }

  .direita {
    display: block;
    float: none;
  }
  

}

@media (max-width: 950px) {
  #sobre .introducao {
    width: 100%;
    transform: translate(0, -80%);
    
  }

  #sobre .imagem {
    margin-top: -100px;
  }
}

@media (max-width: 600px) {

  #sobre .introducao {
    transform: translate(0, -70%);
  }

  header .container .symbol {
    right: 0;
    width: 70%;
  }

  header .container .logo {
    margin-left: 5%;
  }


}

@media (max-width: 450px){
  #sobre .introducao {
    transform: translate(0, -70%);
  }
}
